@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  @apply w-full h-full;
}
*::-webkit-scrollbar {
  @apply bg-neutral-100 w-1 h-1;
}
*::-webkit-scrollbar-thumb {
  @apply bg-amber-400 rounded-full;
}

.crudBody {
  grid-template-areas: "cardsarea sidebar";
  grid-template-columns: auto 250px;
  @apply grid w-full h-full py-2 bg-slate-100;
}
.sideBar {
  grid-template-rows: 100px auto;
  grid-template: sidebar;
  @apply grid
  w-full
  h-full
  border-l-2
  border-neutral-400
  place-items-center
  content-start
  p-2
  gap-3
  bg-slate-100
  ;
}

.cardsArea {
  grid-template: cardsarea;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media (width < 1230px) {
  .cardsArea {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width < 1030px) {
  .cardsArea {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width < 860px) {
  .cardsArea {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width < 660px) {
  .cardsArea {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width < 590px) {
  .cardsArea {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width < 400px) {
  .cardsArea {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .reservCard {
    @apply w-full;
  }
}

.sub {
  @apply font-bold text-lg capitalize;
}
.subContainer {
  @apply flex items-center gap-2;
}

.sidebarBtn {
  @apply w-full
  py-2
  rounded-md
  transition-all
  text-white
  text-xl
  hover:font-bold
  capitalize;
}

@media (width < 660px) {
  .crudBody {
    @apply flex w-full h-full p-2 bg-slate-100;
  }

  .wrapper {
    @apply w-full
  h-full
  bg-black
  bg-opacity-40
  flex
  justify-end
  fixed
  top-0
  left-0
  transition-all;
  }

  .sideBar{
    @apply w-[320px] h-full
  }
}
.kase {
  @apply absolute w-full h-full hover:bg-black hover:bg-opacity-10 rounded-full transition;
}