@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #f2d06c;
  --color-secondary: #a67233;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Alexandria", sans-serif;
}
